@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Lora:ital,wght@1,400;1,500;1,600;1,700&display=swap');
html, body{
    font-family: 'Lora', serif;
    width: 100%;
    height: 100%;
    
}
.container{
    padding: 0px 100px;
}
#header{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    background:#090009;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}
#header .profile img{
    margin:10px auto;
    display: block;
    width: 150px;
    /*border: 5px solid #E2740E;*/
    border-radius: 50%;
    

}
#header .profile h1{
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

#header .profile .social-links a{
    font-size: 1rem;
    background: #f7b527;
    color: #fff;
    padding: 0.5rem 0.7rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
    display:inline-block;
    transition: transform 0.5s;
    position: relative;
    overflow: hidden;   

}
.social-links a .bi { 
    position: relative;
    z-index: 10;
    transition: 0.5s;
    
    }
.social-links a::after{
    content:"";
    width: 100%;
    height: 100%;
    margin-top: -90px;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgb(248, 247, 247), #149ddd);
    position: absolute;
    transition: 0.5s;
    }
    .social-links a:hover::after{
        margin-top:0;
        }
        .social-links a:hover .bi{
        color: #021124;
        
        
        }
        .social-links a:hover{
        transform: translateY(-5px);
        box-shadow: 0 0 30px 2px #149ddd;
        
        }
.nav-menu{
    padding: 1.1rem;
}
.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color:#a8a9b4;
    transition:0.3s;
    font-size: 15px;
}
.nav-menu a i,
.nav-menu a:focus i{
    font-size: 24px;
    padding-right: 0.8rem;
    padding-left: 0.8rem;

    color:#f7b527;
    text-align: center;
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a{
    text-decoration: none;
    color:#fff;
}

.nav-menu a:hover i, .nav-menu .active i, .nav-menu .active:focus i, .nav-menu li:hover > a i{
    color: #ffffff;
}
#main{
    margin-left: 300px;
}
#sobre{
    background-color: #090009;
    color:#f7b527;
}
#me ul li,#me2 ul li{
    background-color:#090009;
    color:#f7b527;
}
#me ul li, #me2 ul li {
    color:#84c2df;
    
}
#me ul li small, #me2 ul li small, #me2 ul li a {
    color:#f7b527;
}
section#inicio{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}
section#inicio h2{
    font-size: 6rem;

}
section#inicio span#subtitle{
    font-size: 1.5rem;
    margin-right: 8rem;
}
.text-shadow{
    text-shadow: 4px 4px 10px #000000;
}
section#inicio div#arraste{
    width: 9rem;
    z-index: 100;
}
section#inicio div#arraste a{
    text-decoration: none;
    color:#fff;
    z-index: -1;

}
#habilidades{
    
    background: linear-gradient(to left,#f7b527,#090009);
    color:#fff;
}


#Curriculum{
    background-color: #090009;
    color: #f7b527;
    padding-bottom: 50px;
}
.carousel-inner{
    margin-top: 50px;
    
}
.card{
    border:none;
    
}
.card input, .card textarea{
    background-color: #090009;
    border: none;
    border-bottom:.5px solid #f7b527;
}
.card-title{
    color:#149DDD;
    
}
.card-text{
    color: #f7b527;
}
#portefolio{
    background-color: #090009;
    color: #f7b527;  
    
}
.carousel-control-next-icon{
    color: #f7b527;
    background-color: #f7b527;
    box-shadow: 0 0 30px 2px #f7b527;
    border-radius: 50%;
    
}
.carousel-control-prev-icon{
    color: #f7b527;
    background-color: #f7b527;
    box-shadow: 0 0 30px 2px #f7b527;
    border-radius: 50%;
}

#contato{
    background-color: #090009;
    color: #f7b527;
}
#card-endereco{
    box-shadow: 0 0 30px 2px #149ddd;
    background-color: #090009;
}
#card-contact{
    box-shadow: 0 0 30px 2px #f7b527;
    background-color: #090009;
}
.card-body{
background-color:#090009;
}
i.menu-mobile{
    position: fixed;
    color: #fff;
    background-color: #f7b527;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header{
    left: 0;
}

/* tag cloud*/
.Sphere .tagcloud {
    display: inline-block;
    margin: 0px;
    
    
}

.Sphere{
    position: relative;
    width: 80%;
    height: auto;
    left: 15%;
    top:0;   
}

ul {
    display: inline-block;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.tagcloud {
    top:0%;
    left: 10%;
    font-size: 20px;
    position: absolute;
   
}

.tagcloud--item {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
    
    
}
/* tag cloud*/


@media (max-width: 1024px){
    #header{
        left:-300px;
    }
    .container{
        padding: 0px 10px;
    }
    i.menu-mobile{
        display: flex;
    }
    section#inicio h2{
        font-size: 3.5rem;
    }
    section#inicio span#subtitle{
        margin-right: 0;
        font-size: 1rem;
    }
    #main{
        margin-left: 0;
    }
   
}

*::-webkit-scrollbar{
    width:10px;

}
*::-webkit-scrollbar-track{
    width: 12px;
    box-shadow: inset 0 0 .3rem #f7b527;
    background-color: #090009;
}
*::-webkit-scrollbar-thumb{
    background-color: #f7b527;
    border-radius: 10px;
}
.section-bg{
    background-color: #f7b527;
}
.progress-bar{
   background-color: #090009;

}

.cv .cv-title{
    font-weight: 700;
    margin-bottom:20px;
    color:#f7b527;

}
.cv .cv-item{
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position:relative;

}
.cv .cv-item h4{
    line-height: 25px;
    font-weight: 300;
    text-transform:none;
    font-family: "poppins", sans-serif;
    color: #f7b527;
    margin-bottom:10px;
    
  
}
.cv .cv-item h5{
    
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color:#149DDD;
}
.cv-item::before{
    content:'';
    position:absolute;
    top: 0;
    left:-9px;
    width: 16px;
    height: 16px;
    border: 2px solid #1f5297;
    background-color: #fff;
    border-radius: 50%;
}
.carousel-control-prev{
    margin-left: -6rem;
}
.carousel-control-next{
    margin-right: -6rem;
}
.carousel-indicators{
    margin-bottom: -35px;
}
/*animaçao*/
[data-anime]{
    opacity: 0;
    transition: 1s;
}
[data-anime="down"]{
    transform: translate3d(0, -100%, 0);
}
[data-anime="up"]{
    transform: translate3d(0, 100%, 0);
}
[data-anime="left"]{
    transform: translate3d(-100%, 0, 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}


@media (max-width: 1300px){
    .carousel-control-prev{
        margin-left: 0;
        
    }
    .carousel-control-next{
        margin-right: 0;
        
    }
    [data-anime="right"]{
        transform: translate3d(-100%, 0, 0);
    }
}

#btn-enviar-loader{
    display:none;
}
#alerta{
    position: fixed;
    z-index: 10;
    top: 30px;
    right:30px;
}
#footer{
    padding: 1px;
    color: white;
    font-size:14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width:300px;
    height: 50px;
    z-index: 9999;
    background-color: #090009;
    transition: .3s;
    
   
}




/*three*/

.banner{
    
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x:hidden;
    background-color: transparent;
   
}
h1.intro{
    position:absolute;
    font-size: 3em;
    letter-spacing: 10px;
    color:#f7b527;
   top: 50%;
   left: 0%;
    width:100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient( transparent,#0004);
    line-height: 0.70em;
    outline:none;
    animation: animate 5s linear infinite;
    
}

h2#about, #habilidades h2, #Curriculum h2, #portefolio h2, #contato h2{
    font-size: 2em;
    letter-spacing: 10px;
    color:#f7b527;
   -webkit-box-reflect: below 1px linear-gradient( transparent,#0004);
    line-height: 0.70em;
    outline:none;
    animation: animate 5s linear infinite; 
}



@keyframes animate
{   
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
{
    color:#0e3742;
    text-shadow: none;
}
18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
{
    color:#fff;
    text-shadow:0 0 10px #f7b527,
    0 0 20px #f7b527,
    0 0 40px #f7b527,
    0 0 80px #f7b527,
    0 0 160px #f7b527;

}
}


@media (max-width:1012px){
    #footer{
        
        position: static;
        width: auto;
        padding: 0px 15px;
    }
    .banner h1.intro{
        top:30%;
        left:0%;
        width: 100px;
        font-size:1.2rem;

    }
    
    }

@media (max-width:900px){
   
.Sphere{
  width: 300px;
  height: auto;
  left: 0;
}
.tagcloud{
    width: auto;
  height: auto;
  left:0;
 
}
h1.intro{
    width: 100% !important;
    height: auto;
}
}
#A,#G,#W,#S,#C,#E,#P{
    color:#149ddd;
    text-shadow: 1px 5px 1px rgb(247, 181, 39),1px 5px 1px rgb(0, 89, 231),
    1px 5px 1px rgb(0, 47, 255),1px 5px 1px rgb(0, 89, 255);
    font-size: 50px;
    
}
 
