<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="#">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Ricardo Pereira</title>
</head>
<body>
    
    <i class="bi bi-list menu-mobile"></i>


    <aside id="header">
        <section class="profile">
            <img src="../static/img/ricardo-PH.png" alt="Foto Ricardo">
            <h1>Ricardo Pereira</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/ricardo-pereira-code-dev">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/ricardoalexandrepereira">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://codepen.io/comandos0">
                    <i class="bi bi-code-slash"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/ricardocerte/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">

            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i>
                     Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i>
                     Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>
                     Habilidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Curriculum"><i class="bi bi-file-earmark"></i>
                     Curriculum</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portefolio"><i class="bi bi-collection"></i>
                     Portfólio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
                
              </ul>



        </nav>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-itens-center flex-column">
                <h2 class="text-shadow">Ricardo Pereira</h2>
                <span id="subtitle" class="text-shadow">Graphic printer and Web Developer</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end flex-column">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>

        </section>

        <section id="sobre" class="container mt-5">
            
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eveniet quisquam amet quasi 
                        odit. Libero, blanditiis. Cumque voluptates, alias voluptas non consectetur vel, 
                        tempora deserunt minus veritatis ex pariatur explicabo totam possimus facere maxime 
                        labore blanditiis fugit provident beatae doloribus exercitationem iste rem quasi? 
                        Quisquam porro minus sed quos ipsam deserunt ex cumque possimus ipsa! Eos facilis 
                        maxime, cumque aperiam est eum numquam distinctio ipsam nam vitae, exercitationem 
                        nulla. Tempora omnis enim culpa optio, aperiam exercitationem, possimus reiciendis 
                        officia vel quod saepe ullam quisquam eum atque voluptatem voluptatibus similique!
                        Corrupti doloremque quibusdam nulla vero perspiciatis neque sit cupiditate harum hic.
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/me.png" alt="foto ricardo">
                </div>
                <div class="col-md-8">
                    <h3>Impressor Gráfico/web Developer</h3>
                    <p>Actualmente desenvolvo o meu trabalho no ambito do design e
                        impressão para a empresa Olegário fernandes,
                        tambem desenvolvo trabalho em web design principalmente em 
                        javascript no front-end e no back-end como freelancer  </p>

                        <div class="row mt-3 mb-3">

                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        niver: <span class="fw-lighter">
                                           19 de junho de 1987</span>
                                    </li>
                                    <li class="list-group-item">
                                        Age: <span class="fw-lighter">
                                            35 anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Country: <span class="fw-lighter">
                                            Portugal</span>
                                    </li>
                                    <li class="list-group-item">
                                        City: <span class="fw-lighter">
                                            Lisboa</span>
                                    </li>
                                    
                                  </ul>
                            </div>

                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Hobby: <span class="fw-lighter">
                                            programming</span>
                                    </li>
                                    <li class="list-group-item">
                                        site: <a href="https://ricardo-personal-site.netlify.app/" 
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">
                                        link.personal</a>
                                    </li>
                                    <li class="list-group-item">
                                        Trabalho: <a href="https://https://olegario-fernandes.pt/" 
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">
                                        Olegário Fernandes</a>
                                    </li>
                                    <li class="list-group-item">
                                        Experiêcia: <span class="fw-lighter">
                                            +10 anos</span>
                                    </li>
                                    
                                  </ul>
                            </div>

                        </div>

                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                            Suscipit veritatis deleniti, dolores dignissimos pariatur 
                            reiciendis, accusamus eum dolorum cupiditate nihil qui nam 
                            in unde possimus omnis ratione perspiciatis quas quibusdam 
                            </p>
                        

                      
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p> Em todo o tempo como profissional adquiri algumas habilidades
                    tecticas e não só, de acordo com as percentagens de conhecimento que acridito ter.
                </p>
                <div class="row">
                    <div class="col-md-6">
                                <p class="mt-3 mb-0">html</p>
                                <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                                </div>

                                <p class="mt-3 mb-0">Css</p>
                                <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                </div>

                                <p class="mt-3 mb-0">Javascript</p>
                                <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                </div>

                                <p class="mt-3 mb-0">Git</p>
                                <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                </div>

                                <p class="mt-3 mb-0">wordpress</p>
                                <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                </div>

                                
                    </div>
                    <div class="col-md-6">
                                
                                <p class="mt-3 mb-0">Deploy</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                                </div>
        
                                <p class="mt-3 mb-0">Sass</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
        
                                <p class="mt-3 mb-0">bootstrap</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>

                                <p class="mt-3 mb-0">node</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                                </div>
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipa</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Proactividade</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>

                        <p class="mt-3 mb-0">commitment</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                        </div>



                    </div>

                </div>

            </div>
        </section>

        <section class="mt-5 cv" id="Curriculum">

            <div class="container pb-2">
                <h2 class="pt-3 pb-4">Curriculum</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item">
                            <h4>arte design e industria</h4>
                            <h5>1999 - 2002</h5>
                            <p><em>casa pia de lisboa</em></p>
                            <p>curso avançado voltado a área do design com foco na 
                                industria gráfica e suas tecnologias. 
                            </p>
                        </div>
                        <div class="cv-item">
                            <h4>Curso avançado em sistemas de informação</h4>
                            <h5>2002 - 2005</h5>
                            <p><em>Citeforma</em></p>
                            <p>Recebi conceitos e técnicas de informatica e teoria de sistemas para contribuir na
                                solução de problemas de tratamento de informação nas organizações por meio da construção
                                de modelos de automação corporativa.
                            </p>
                        </div>
                        
                        <div class="cv-item">
                            <h4>web Development</h4>
                            <h5>2020 - 2021</h5>
                            <p><em>Master D</em></p>
                            <p>Curso voltado para a programação web, design e layouts em diversos programas e bibliotecas
                                front-end. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item">
                            <h4>informático</h4>
                            <h5>2005 - 2006</h5>
                            <p><em>Lusolabs</em></p>
                            <p>Segurança Informática, Gestão de Sistemas de Informação, Multimédia e Webdesign 
                            </p>
                        </div>
                        <div class="cv-item">
                            <h4>informático</h4>
                            <h5>2007 - 2008</h5>
                            <p><em>Aki</em></p>
                            <p>configuração de sistemas informaticos e manutenção  
                            </p>
                        </div>
                        <div class="cv-item">
                            <h4>impressor gráfico</h4>
                            <h5>2009 - 2021</h5>
                            <p><em>Olegário Fernandes</em></p>
                            <p>impressão de conteudo de rotolagem de farmaceuticas em software boobst
                                operacional em industria.  
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portefolio" class="section-bg mt5">
            <div class="container pb-5 pt-5">

                <h2 class="pb-4s">Portefolio</h2>

                <div id="carouselportefolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselportefolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselportefolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      
                    </div>
                    <div class="carousel-inner">

                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">

                            <div class="col">
                                <div class="card">
                                <img src="../static/img/b1.jpg" class="card-img-top" alt="b1">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-center">
                                      <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/b2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/b3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                        </div>

                      </div>

                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">

                            <div class="col">
                                <div class="card">
                                <img src="../static/img/b1.jpg" class="card-img-top img-fluid w-100" alt="b1">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-center">
                                      <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/b2.jpg" class="card-img-top img-fluid w-100" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/b3.jpg" class="card-img-top img-fluid w-100" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="#" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                        </div>


                      </div>
                     
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselportefolio" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselportefolio" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>


            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>
                <div class="row">

                <div class="col-md-5">
                    <div class="card p-5 shadow border-0">
                        <div class="endereco">
                            <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                            <p>Lisboa, Montijo</p>
                        </div>
                        <div class="email">
                            <h4><i class="bi bi-envelope"></i> Email:</h4>
                            <p>ricardo_certe@hotmail.com</p>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49816.396574934006!2d-9.025847275268092!3d38.70575885808201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1939eb3ac02dd7%3A0x42cc94a7d11be406!2sMontijo!5e0!3m2!1spt-PT!2spt!4v1650298821692!5m2!1spt-PT!2spt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                    </div>
                </div>

                <div class="col-md-7 mt-5 mt-md-0">
                    <div class="card p-5 h-100 shadow border-0">

                        <form class="row g-3">
                            <div class="col-md-6">
                              <label for="nome" class="form-label">Name:</label>
                              <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
                            </div>
                            <div class="col-md-6">
                              <label for="Email" class="form-label">Email:</label>
                              <input type="Email" class="form-control" id="Email" name="Email" placeholder="Email">
                            </div>
                            
                            <div class="col-12">
                              <label for="mensagem" class="form-label">Mensagem:</label>
                              <textarea type="text" class="form-control" id="mensagem" placeholder="type your message" name="mensagem" rows="10"></textarea>
                            </div>
                            
                            <div class="col-12 d-flex justify-content-center mt-4">
                              <button type="submit" class="btn btn-primary">send</button>
                            </div>

                          </form>
                    </div>
                </div>    


                </div>
            </div>

        </section>

    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>
</body>
</html>