<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/stylecarousel.css">
    <link rel="icon" type="image/png" href="#">
    
    
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <title>Ricardo Pereira</title>
</head>
<body onload="followMouse()">

  <div id="pre-loader"></div>

    <i class="bi bi-list menu-mobile"></i>


    <aside id="header">
        <section class="profile">
            <img src="../static/img/ricardo-PH2.png" alt="Foto Ricardo">
            <!--<h1>Ricardo Pereira</h1>-->
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/ricardo-pereira-code-dev">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/ricardoalexandrepereira">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://codepen.io/comandos0">
                    <i class="bi bi-code-slash"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/ricardocerte/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
        

        <nav id="navbar" class="nav-menu">

            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i>
                    main</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i>
                    about</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>
                     Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Curriculum"><i class="bi bi-file-earmark"></i>
                     Curriculum</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portefolio"><i class="bi bi-collection"></i>
                    Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contact</a>
                </li>
                
              </ul>



        </nav>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="banner">
                
              <h1 contentditable="true" class="intro">Hey there I'am Ricardo</h1>
              <p contentditable="true" class="introp  ">Let's work together...</p>
              
            
            </div>
           <!-- <div class="col-md-7 d-flex justify-content-end align-items-end flex-column">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>-->

        </section>

        <section id="sobre" class="container pt-5">
            
            <div class="row w-100">
                <div class="col-md-12" data-anime="right">
                    <h2 class="pt-3 mb-5" id="about"> <span id="A">A</span>bout me</h2>
                    <p>I believe in the power of education as a transforming agent of the individual, 
                        because I had the possibility to study information technologies and various unrelated 
                        technologies, as well as having lived in some countries with diverse cultures and other 
                        learning methods the case of France and Argentina, generating me resources to study even more, 
                        I have always chosen to be in contact with "know how to do".
                        I was encouraged to specialize me in information systems after finishing high school in arts.
                        I have followed studies in systems and networks and currently develop my professional activity in 
                        TIK-TOK. But the need to know more has led me to pursue what really love, software developer.
                        
                        
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                   <!--<img class="img-fluid shadow" src="../static/img/me22.png" alt="foto ricardo" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3 id="web"><span id="W">W</span>eb Developer/<span id="G">G</span>raphic printer</h3>
                    <p>I am currently developing my work in the design and
                        printing for the company Olegário fernandes,
                        i also develop work in web design mainly in 
                        javascript on the front end and back end as a freelancer  </p>

                        <div class="row mt-3 mb-3">

                            <div class="col-md-6" id="me">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        niver: <small class="fw-lighter">
                                           19 june 1987</small>
                                    </li>
                                    <li class="list-group-item">
                                        Age: <small class="fw-lighter">
                                            34</small>
                                    </li>
                                    <li class="list-group-item">
                                        Country: <small class="fw-lighter">
                                            Portugal</small>
                                    </li>
                                    <li class="list-group-item">
                                        City: <small class="fw-lighter">
                                            Lisboa</small>
                                    </li>
                                    
                                  </ul>
                            </div>

                            <div class="col-md-6" id="me2">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">
                                        Hobby: <small> 
                                            programming, travel</small>
                                    </li>
                                    <li class="list-group-item" style="cursor:pointer">
                                        site: <small> <a href="https://ricardo-personal-site.netlify.app/" 
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">
                                        link.personal</a></small>
                                    </li>
                                    <li class="list-group-item" style="cursor:pointer">
                                        Work: <small> <a href="https://olegario-fernandes.pt/" 
                                        target="_blank" class="fw-lighter text-decoration-none link-dark">
                                        Olegário Fernandes S.A.</a></small>
                                    </li>
                                    <li class="list-group-item">
                                        Experience: <br> <small class="fw-lighter">
                                            +8 years, Design and printer </small> <br>
                                            <small class="fw-lighter">
                                                +4 years, Developing</small>
                                    </li>
                                    
                                  </ul>
                            </div>--> 
                            <div class="cardme">
                              <div class="circle">
                                  <div class="content">
                                    <h3 id="web"><span id="W">W</span>eb Developer,<br/><span id="G">D</span>esigner</h3>
                                    <p>I am currently developing my work in ByteDance 'TIK-TOK' as 
                                        QA moderator.
                                        I also develop work in web design mainly in 
                                        javascript on the front end and back end as a freelancer  </p>
                                          
                                  </div>
                                  <img src="../static/img/RICARDOPEREIRA.png" alt="image">
                              </div>
                          </div>
                        </div>
                      </div>
                        <p class="p-5">In addition to developing personal projects in programming, I promote my
                             work in my circle of friends to be able to help them in the development 
                             of their own projects, either in the implementation of applications or 
                             websites. 
                            </p>

                            <div class="col-md-12" data-anime="right">
                              
          
                                  <div class="row mt-3 mb-3" id="niver">
          
                                      <div class="col-md-6" id="me">
                                          <ul class="list-group list-group-flush fs-5">
                                              <li class="list-group-item">
                                                  niver: <small class="fw-lighter">
                                                     19 june 1987</small>
                                              </li>
                                              <li class="list-group-item">
                                                  Age: <small class="fw-lighter">
                                                      35</small>
                                              </li>
                                              <li class="list-group-item">
                                                  Country: <small class="fw-lighter">
                                                      Portugal</small>
                                              </li>
                                              <li class="list-group-item">
                                                  City: <small class="fw-lighter">
                                                      Lisboa</small>
                                              </li>
                                              
                                            </ul>
                                      </div>
          
                                      <div class="col-md-6" id="me2">
                                          <ul class="list-group list-group-flush fs-5">
                                              <li class="list-group-item">
                                                  Hobby: <small> 
                                                      programming, plant care, video games</small>
                                              </li>
                                              <li class="list-group-item" style="cursor:pointer">
                                                  First site: <small> <a href="https://ricardo-personal-site.netlify.app/" 
                                                  target="_blank" class="fw-lighter text-decoration-none link-dark">
                                                  link.personal</a></small>
                                              </li>
                                              <li class="list-group-item" style="cursor:pointer">
                                                  Work: <small> <a href="https://olegario-fernandes.pt/" 
                                                  target="_blank" class="fw-lighter text-decoration-none link-dark">
                                                  ByteDance</a></small>
                                              </li>
                                              <li class="list-group-item">
                                                  Experience: <br> <small class="fw-lighter">
                                                      +8 years, Design and printer </small> <br>
                                                      <small class="fw-lighter">
                                                          +4 years, Developing</small>
                                              </li>
                                              
                                            </ul>
                                      </div>
                        

                      
                </div>
            </div>
        </section>

        <section class="pt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5"><span id="S">S</span>kills</h2>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="Sphere">
                            
                        </div>   
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Team Work</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" data-anime="left">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Proactivity</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" data-anime="left">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Detail guidance</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" data-anime="left">90%</div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Communication</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" data-anime="left">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Empathy</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-anime="left">85%</div>
                        </div>

                        <p class="mt-3 mb-0">commitment</p>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" data-anime="left">98%</div>
                        </div>



                    </div>

                </div>

            </div>
        </section>

        <section class="pt-5 cv" id="Curriculum">

            <div class="container pb-2">
                <h2 class="mb-5 mt-5"><span id="C">C</span>urriculum</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title"><span id="E">E</span>ducation</h3>
    

                        
                        
                        <div class="cv-item"data-anime="up">
                            <h4>Web Development Specialization</h4>
                            <h5>2020 - 2022</h5>
                            <p><em>Master D</em></p>
                            <p>Course focused on web programming, design and layouts in various programs and libraries
                                front-end. Course that allows me to develop better work in the area of Web consulting,
                                Front developer, Html, css, javascript, Wordpress, NodeJS and Ux/ui web designer.
                                
                            </p>
                        </div>

                        <div class="cv-item"data-anime="up">
                            <h4>
                              Higher technical course in information systems</h4>
                            <h5>2002 - 2005</h5>
                            <p><em>Citeforma</em></p>
                            <p>I received concepts and techniques from informatics and systems theory to contribute to
                                solution of information processing problems in organizations through the construction of
                                enterprise automation models.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Art design and industry</h4>
                            <h5>1999 - 2002</h5>
                            <p><em>Casa pia de lisboa</em></p>
                            <p>Advanced course focused on the design area with a focus on 
                                graphic industry and its technologies. 
                            </p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title"><span id="P">P</span>rofessional</h3>

                        <div class="cv-item"data-anime="up">
                          <h4>TikTok</h4>
                          <h5>2021 - ongoing...</h5>
                          <p><em>TikTok Hq</em></p>
                          <p>the function that performance in tiktok is to moderate the use of the platform 
                            find errors to improve the use. in real-time TCS systems  
                          </p>
                      </div>
                        
                        <div class="cv-item"data-anime="up">
                            <h4>Graphic printer / Designer</h4>
                            <h5>2009 - 2021</h5>
                            <p><em>Olegário Fernandes</em></p>
                            <p>printing pharmaceutical labeling content in boobst software
                                operational in industry.  
                            </p>
                        </div>

                        <div class="cv-item"data-anime="up">
                            <h4>Computer technician</h4>
                            <h5>2007 - 2008</h5>
                            <p><em>Aki</em></p>
                            <p>configuration of information systems and maintenance  
                            </p>
                        </div>

                        <div class="cv-item"data-anime="up">
                            <h4>Computer technician</h4>
                            <h5>2005 - 2006</h5>
                            <p><em>Lusolabs</em></p>
                            <p>Computer Security, Information Systems Management and Maintenance of Multimedia servers and Webdesign 
                            </p>
                        </div>

                        

                    </div>
                </div>
            </div>
        </section>

        <div id="body">

          <div id="containerbody">
          
          </div>
              
          <div id="drag-container">
              
              <div id="spin-container">
      
                  
                 <a class="ancora" id="action-btn" href="https://venerable-cactus-914f0e.netlify.app" target="_blanc"> <img src="../static/img/Dance-workout.png" id="first" alt="creativity"></a>
                 <a class="ancora" href="https://digital-soul.netlify.app" target="_blanc"> <img src="../static/img/2023-01-05(1).png" alt="creativity"></a>
                 <a class="ancora" href="https://voluble-dodol-e89e06.netlify.app" target="_blanc"> <img src="../static/img/tesla.png" alt="creativity"></a>
                 <a class="ancora" href="https://starlit-phoenix-482e6b.netlify.app" target="_blanc"> <img src="../static/img/spline.png" alt="creativity"></a>
                 <a class="ancora" href="https://peppy-mousse-f13901.netlify.app" target="_blanc"> <img src="../static/img/2023-01-05 (12).png" alt="creativity"></a>
                 <a class="ancora" href="https://regal-faloodeh-b27b72.netlify.app" target="_blanc"> <img src="../static/img/2023-01-11-20.png" alt="creativity"></a>
                 <a class="ancora" href="https://bite-clothing-collection.vercel.app" target="_blanc"> <img src="../static/img/BITE.png" alt="bite" style="object-position: 80%;"></a>
      
                 
                  <video controls autoplay="autoplay" loop>
              
                      <source src="https://player.vimeo.com/external/630035877.sd.mp4?s=0f4021aa77dac94d4b38b46b30318e7732951a20&profile_id=165&oauth2_token_id=57447761" type="video/mp4">
                           
                  </video>
                 
      
                  <p>Creativity in leisure time !</p>
              </div>
      
              <div id="ground"></div>
          </div>
      </div>

        <section id="portefolio" class="section-bg pb-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4s"><span id="P">P</span>ortefolio</h2>


    

                <!---->
                <div id="carouselportefolio" class="carousel carousel-light slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselportefolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselportefolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselportefolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselportefolio" data-bs-slide-to="3" aria-label="Slide 3"></button>
                      
                    </div>
                    <div class="carousel-inner">

                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">

                            <div class="col">
                                <div class="card">
                                <img src="../static/img/pinkplay.png" class="card-img-top" alt="pinkplay">
                                <div class="card-body">
                                  <h5 class="card-title">Pink Play</h5>
                                  <br>
                                  <p class="card-text">Playlist Music App developed with MVC architecture. using :EJS, NODE, MongoDB and express on backend.</p>
                                  <br>
                                  <div class="d-flex justify-content-center">
                                      <a href="https://playpink.herokuapp.com/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/jungle.png" class="card-img-top" alt="jungle_img">
                                <div class="card-body">
                                  <h5 class="card-title">Jungle Game</h5>
                                  <p class="card-text"> <br>this a memory game developed with javascript with nice animations on gsap.</p><br>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://jungle-game-rep.netlify.app/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/Weather.png" class="card-img-top" alt="weather image">
                                <div class="card-body">
                                  <h5 class="card-title">REACT weather app</h5>
                                  <p class="card-text mb-4"> <br> this application consumes a weather api and makes it available for the community to use</p>
                                  <br>  
                                  <div class="d-flex justify-content-center">
                                    <a href="https://weather-app-resp.netlify.app" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                        </div>

                      </div>

                      <div class="carousel-item" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">

                            <div class="col">
                                <div class="card">
                                <img src="../static/img/biolabs_site.png" class="card-img-top img-fluid w-100" alt="biolabs_site">
                                <div class="card-body">
                                  <h5 class="card-title">Biolabs site</h5>
                                  <p class="card-text">Project developed for final presentation of course, in html css and javascript using the various libraries such as bootstrap, three.js, gsap, jquery.</p><br>
                                  <div class="d-flex justify-content-center">
                                      <a href="https://biolabs.netlify.app/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/violin.png" class="card-img-top img-fluid w-100" alt="develor_img">
                                <div class="card-body">
                                  <h5 class="card-title">Violin website</h5>
                                  <p class="card-text">website developed in Reactjs and fiber to a violin performer to sell her products and classes. </p><br><br><br>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://violin-fiber-landingpage.vercel.app/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/todo_list.png" class="card-img-top img-fluid w-100" alt="todo_list.png">
                                <div class="card-body">
                                  <h5 class="card-title">To-Do List</h5>
                                  <p class="card-text">This is a FULL-STACK-APP ,CRUD Project. Using NODE.JS ,nodemon, express, mongodb and deploy on heroku </p><br>
                                  <br>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://todolist-ricardo.herokuapp.com/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                        </div>


                      </div>


                      <div class="carousel-item" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">

                            <div class="col">
                                <div class="card">
                                <img src="../static/img/login_platform.png" class="card-img-top img-fluid w-100" alt="biolabs_site">
                                <div class="card-body">
                                  <h5 class="card-title">Login Platform</h5>
                                  <p class="card-text">Project developed on node.js and handlebars.
                                    Multi-user application, user registration and data, only the user has access to their data.
                                  </p>
                                  <br>
                                  <div class="d-flex justify-content-center">
                                      <a href="https://login-platform.herokuapp.com/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/liquidificadora1.png" class="card-img-top img-fluid w-100" alt="develor_img">
                                <div class="card-body">
                                  <h5 class="card-title">Liquidificadora</h5>
                                  <p class="card-text mb-5 mt-4">Old Simple project on javascript using movement and sound.</p><br>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://liquidificadora.netlify.app/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <div class="card">
                                <img src="../static/img/marianaP.png" class="card-img-top img-fluid w-100" alt="todo_list.png">
                                <div class="card-body">
                                  <h5 class="card-title">React single page aplication</h5>
                                  <p class="card-text mb-4 mt-4">react portefolio developed to a client, using particles.js also with a form contact</p><br>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://portefolio-mariana.vercel.app/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                                </div>
                              </div>
                            </div>

                        </div>
                      </div>

                      
                      <div class="carousel-item" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">

                            <div class="col">
                                <div class="card">
                                <img src="../static/img/presentation1.png" class="card-img-top img-fluid w-100" alt="biolabs_site">
                                <div class="card-body">
                                  <h5 class="card-title mt-4 mb-4">3D book</h5>
                                  <p class="card-text mt-4 mb-4">Project developed three-js javascript. <br><br>
                                    
                                  </p>
                                  <div class="d-flex justify-content-center">
                                      <a href="https://presentation-book.netlify.app/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <div class="col">
                              
                              <div class="card">
                                <img src="../static/img/crypto.png" class="card-img-top img-fluid w-100" alt="biolabs_site">
                                <div class="card-body">
                                  <h5 class="card-title mt-2 mb-2">Api Crypto</h5>
                                  <p class="card-text mt-2 mb-2">this is a full stack application on react. 
                                   Creates users and saves a user's infomation to their firebase account <br><br>
                                    
                                  </p>
                                  
                                  <div class="d-flex justify-content-center">
                                      <a href="https://cryptobase-c07b1.web.app/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <div class="col">
                              
                              <div class="card">
                                <img src="../static/img/dishes.png" class="card-img-top img-fluid w-100" alt="biolabs_site">
                                <div class="card-body">
                                  <h5 class="card-title mt-2 mb-4">Kazammm app</h5>
                                  <p class="card-text mt-2 mb-2">react app cusine. 
                                   consuming an external api. Consults the dish and follows the recipe<br><br>
                                    
                                  </p>
                                  <div class="d-flex justify-content-center">
                                      <a href="https://dishes-app-489a0.web.app" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                                </div>
                              </div>

                            </div>

                        </div>
                      </div>

                     
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselportefolio" data-bs-slide="prev">
                        <span class="visually-hidden">Previous</span>
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselportefolio" data-bs-slide="next">
                        <span class="visually-hidden">Next</span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                  </div>


            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">
        <!-- fly -->
          <div class="wrapper">
            <img id="fly" class="bird" src="../static/img/fly.gif" alt="fly">
            
         
        </div>
            <!-- fly -->

            <div class="container mb-5">

              
                <h2 class=" container mb-5"><span id="C">C</span>ontact</h2>
              <div class="row justify-content-between">
                  
          
                <div class="col-md-2" data-anime="up" id="space">
                  <img id="anchor" class="pb-5" src="../static/img/chameleon.png" style="width: 350px;">
                  <img id="eyeleft" src="../static/img/EyeLeft.png" class="eye">
                  <img id="eyeright" src="../static/img/EyeRight.png" class="eye">
                      
                      
                      
                    
                    <div class="endereco">
                      
                      <small>Project developed in python on backend as server</small>
                    </div>
                <div class="email">
                    
                    <small>and javascript, bootstrap and three.js in front-end</small>
                </div>

              </div> 

                 <!---->

                <div class="col-md-6 mt-5 mt-sm-5 ml-sm-5" data-anime="left">
                      <div class="card p-5 border-0" id="card-endereco">
                        <div class="endereco">
                            <h4><i class="bi bi-geo-alt"></i> Location:</h4>
                            <p>Lisboa, Montijo</p>
                        </div>
                        <div style="font-size: 26px;" class="email">
                            <h4><i class="bi bi-envelope"></i> My email:</h4>
                            <p>ricardo_certe@hotmail.com</p>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49816.396574934006!2d-9.025847275268092!3d38.70575885808201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1939eb3ac02dd7%3A0x42cc94a7d11be406!2sMontijo!5e0!3m2!1spt-PT!2spt!4v1650298821692!5m2!1spt-PT!2spt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                    </div>
                  </div> 

                    <!-- <div class="card p-5 h-100 border-0" id="card-contact">
                        <h4>We're in touch</h4>
                        <form class="row g-3" action="/send" method="POST">
                            <div class="col-md-6">
                              <label for="nome" class="form-label">Name:</label>
                              <input type="text" class="form-control" id="nome" name="nome" placeholder="Name" required>
                            </div>
                            <div class="col-md-6">
                              <label for="email" class="form-label">Your email:</label>
                              <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                            </div>
                            
                            <div class="col-12">
                              <label for="mensagem" class="form-label">Message:</label>
                              <textarea type="text" class="form-control" id="mensagem" placeholder="type your message" name="mensagem" rows="10" required></textarea>
                            </div>
                            
                            <div class="col-12 d-flex justify-content-center mt-2">
                              <button id="btn-enviar" type="submit" class="btn btn-primary">send</button>

                              <button id="btn-enviar-loader"class="btn btn-primary" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Sending...
                              </button>
                            </div>

                            

                          </form>
                    </div> -->
                   


                </div>
            </div>

        </section>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        </main>



        <footer id="footer">
            <div id="containerFooter" class="container-fluid pt-3">
                <div class="text-center">
                    &copy; Copyright Ricardo Pereira
                </div>
            </div>

        </footer>
        

        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <script type="text/javascript" src="../static/TagCloud.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        
        <script src="../static/app.js"></script>
        <script src="../static/script.js"></script>
        
        
        
        
</body>
</html>