<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="../static/stylejarallax.css">
    <link rel="stylesheet" href="../static/jarallax.css">
    <title>Ricardo Pereira | Work</title>
</head>
<body >

    <div class="transition transition-1 is-active"></div>
       
    <div class="layout">

   
        <div id="nextpage">
            <a id="next" href="/">main page</a>
        </div>

        <!-- landiang page -->
        <div class="containermain">
        
    
            <div class="img">
                <img loading="lazy" src="../static/img/logoDigital.png" alt="logo">
            </div>
    
            <div class="title">
                <h1>
                    <span class="text-one">criativity<label></label></span>
                </h1>
                <h2><span>H</span>eart!</h2>
                <h3>
                    <span class="text-two">Taken From <label>the</label></span>
                </h3>
               
            </div>
            
            <div class="line">_____________________</div>
            <div class="tag">
                <span> Digital soul </span>
            </div>
    
            
    
            <p>
                Digital soul is a brand created to develop your ideas and turn them into something digital that you can be proud of.</span>
            </p>
            
        </div>

        <!-- landiang page -->

        <section>
            <div class="box">
                <h2 data-jarallax-element="0 -200">Web Design </h2>
                <div class="container">
                    <div class="imxBx jarallax">
                        <img loading="lazy" src="../static/img/violin.png" alt="violin-fiber-landingpage" class="jarallax-img">
                    </div>
                    <div class="content" data-jarallax-element="-200 0">
                        <p>We design your websites or applications from scratch, to your liking so you can be proud of your business or project, for over ten years working in the design area, i am able to surprise you. challenge me !!!</p>
                        <a href="https://violin-fiber-landingpage.vercel.app/" target="_blank">see Project</a>
                    </div>
                </div>
            </div>
            </section>
            
            <section>
                <div class="box">
                    <h2 data-jarallax-element="0 200">Development </h2>
                    <div class="container">
                        <div class="imxBx jarallax">
                            <img loading="lazy" src="../static/img/spline.png" alt="spline site" class="jarallax-img">
                        </div>
                        <div class="content" data-jarallax-element="-200 0">
                            <p>For the implementation of your projects we use the latest technologies like react, or next.js so that your experience is maximized.</p>
                            <a href="https://starlit-phoenix-482e6b.netlify.app/" target="_blank">see Project</a>
                        </div>
                    </div>
                </div>
                </section>
            
            <section>
                <div class="box">
                    <h2 data-jarallax-element="0 -200">Deploy </h2>
                    <div class="container">
                        <div class="imxBx jarallax">
                            <img loading="lazy" src="../static/img/marianaP.png" alt="Profissional portefolio" class="jarallax-img">
                        </div>
                        <div class="content" data-jarallax-element="-200 0">
                            <p>we assure you that your project will be accessible worldwide, with a domain of our own where we will do the maintenance of your project, for more information contact us!</p>
                            <a href="https://portefolio-mariana.vercel.app/" target="_blank">see Project</a>
                        </div>
                    </div>
                </div>
                </section>
            
            <section>
                <div class="box">
                    <h2 data-jarallax-element="0 200">More ! </h2>
                    <div class="container">
                        <div class="imxBx jarallax">
                            <img loading="lazy" src="../static/img/book app.png" alt="book app" class="jarallax-img">
                        </div>
                        <div class="content" data-jarallax-element="-200 0">
                            <p>We develop web and mobile applications, whether they are applications to store information so that only you have access, custom music applications, professional websites, etc. </p>
                            <a href="https://book-app-tawny.vercel.app/" target="_blank">see Project</a>
                        </div>
                    </div>
                </div>
                </section>

            <section>
                <div class="box">
                    <h2 data-jarallax-element="0 200">Websites </h2>
                    <div class="container">
                        <div class="imxBx jarallax">
                            <img loading="lazy" src="../static/img/enterprise.png" alt="enterprise" class="jarallax-img">
                        </div>
                        <div class="content" data-jarallax-element="-200 0">
                            <p>Trust us to develop our own website, with maximum prefessionalism. </p>
                            <a href="https://enterprise-rho.vercel.app/" target="_blank">see Project</a>
                        </div>
                    </div>
                </div>
                </section>
    
            </div>
    

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js" integrity="sha512-gsEItzcNkWxfxHjr4BaEZAd9YuRWYjxnj7c/yukcZ0/nWehUb5TjJNyyv1ApCU2DFH/qgw+stFZHPOKnoQnIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script src="../static/jarallax.js"></script>
    <script src="../static/jarallax-element.js"></script> 
    <script src="../static/transition.js"></script>
    
</body>
</html>